/* ===== Mode Gelap ===== */
body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

body.dark-mode nav {
  background: linear-gradient(90deg, #111111, #333333);
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode #salam,
body.dark-mode #jam {
  color: #ffffff;
}

body.dark-mode .salaman-dan-waktu,
body.dark-mode .visi,
body.dark-mode .kontak {
  background-color: #1e1e1e;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}

/* Tombol dalam mode gelap tetap terlihat jelas */
body.dark-mode button {
  background: linear-gradient(135deg, #999999, #cccccc);
  color: #000000;
}
